<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Institute Dashboard</h2>
    <hr>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>Total Students</h4>
            <p th:text="${studentCount}">0</p>
        </div>
        <div class="col-md-4">
            <h4>Total Courses</h4>
            <p th:text="${courseCount}">0</p>
        </div>
        <div class="col-md-4">
            <h4>Total Instructors</h4>
            <p th:text="${instructorCount}">0</p>
        </div>
    </div>
    <hr>
    <a class="btn btn-primary" href="/students">Manage Students</a>
    <a class="btn btn-secondary" href="/courses">Manage Courses</a>
    <a class="btn btn-success" href="/instructors">Manage Instructors</a>
</div>
</body>
</html>
